<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Primaire citoyenne FREXIT</title>
</head>
<body>
  <div>
    <h1>Primaire citoyenne FREXIT</h1>
  </div>
  <div>
    <!-- <a class = "button" routerLink="bar" routerLinkActive="activebutton">Bar</a> -->
    <a class = "button" routerLink="inscrits" routerLinkActive="activebutton">Nombre d'inscrits en temps réel</a>
    <!--<a class = "button" routerLink="pie" routerLinkActive="activebutton">Pie</a> -->
    <a class = "button" routerLink="resultats" routerLinkActive="activebutton">Résultats en temps réel</a>
    <!-- <a class = "button" routerLink="pie" routerLinkActive="activebutton">Pie</a> -->
  </div>
</body>
</html>
